.experience-container {
    margin: 4rem 0;
    position: relative;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
}
.experience-content{
    margin-bottom: 15px;
}

.experience-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}




.arrow-left,
.arrow-right {
    width: 2.5rem; /* Slightly increased width */
    height: 2.5rem; /* Slightly increased height */
    border-radius: 50%; /* Rounded shape */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff; /* Changed color to white for better contrast */
    border: 1.5px solid #6751b9;
    background: #130f2a;
    position: absolute;
    top: 50%; /* Centered vertically */
    transform: translateY(-50%); /* Adjusted for perfect centering */
    z-index: 10; /* Increased z-index to ensure visibility */
    cursor: pointer;
    font-size: 1.5rem; /* Adjusted font size for icons */
}

.arrow-left {
    left: 1rem; /* Adjusted positioning */
}

.arrow-right {
    right: 1rem; /* Adjusted positioning */
}

@media (max-width: 1025px) {
    .arrow-left {
        left: 0.5rem; /* Adjusted positioning */
    }
    .arrow-right {
        right: 0.5rem; /* Adjusted positioning */
    }
}

@media (max-width: 768px) {
    .experience-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .arrow-left {
        left: 0.5rem; /* Adjusted positioning */
    }
    .arrow-right {
        right: 0.5rem; /* Adjusted positioning */
    }
}



