.experience-container {
    margin: 4rem 0;
    position: relative;
    padding: 20px;
    font-size: 16px;
    margin-bottom: 15px;
}

.experience-content {
    margin-bottom: 15px;
}

.experience-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

/* Remove arrow styles completely */
.arrow-left,
.arrow-right {
    display: none; /* Hide arrows */
}
